/**
 * <%= appname %><% if (appauthor !== '' || appauthoremail !== '') { %>
 * (c)<% if (appauthor !== '') { %> <%= appauthor %><% } %><% if (appauthoremail !== '') { %> <<%= appauthoremail %>><% } %><% } %>
 */

$base-path: '../' !default;<% if (includeBootstrap) {%>
$icon-font-path: '../fonts/bootstrap/';

@import 'bootstrap-sass/assets/stylesheets/_bootstrap';<% } %>

@import 'base/definitions';
@import 'base/normalize';
@import 'base/typography';
@import 'base/layout';
